{% extends "account/base.html" %}

{% load static %}
{% load load_asset %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Forgot password?" %}{% endblock %}

{% block extrastyles %}
{% get_css 'app' %}
{% endblock %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-form">
                    <div class="login-form">

                        <div class="main-background">

                            <h1>{% trans "Reset your password" %}</h1>
                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}

                            <p>{% trans "Did you forget password? Enter e-mail below" %}</p>
                            <div class="fieldWrapper">
                           
                                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                    {% csrf_token %}
                                    {{ form.signup.errors }}
                                    <label for="{{ form.signup.id_for_label }}">{% trans 'E-mail:' %}</label>
                                    <input class="input_data" type="email" name="login" placeholder="{% trans 'E-mail address' %}"
                                        autofocus="autofocus" required="" id="id_login">

                                    <div class="action_btn">
                                        <input class="primaryAction" type="submit" class="button" value="{% trans 'Reset password' %}" />
                                    </div>
                                </form>
                           </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}
