@import "./../../../node_modules/bootstrap/scss/bootstrap";

// Ubuntu font 
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin-ext');

// main style 
html, 
body {
    height: 100vh;
    width: 100vw;
    background-color: #dce7ef;
    font-family: 'Ubuntu', sans-serif;
}

.logo-button {
    background: transparent;
    outline: transparent;
    border: 0;

    &:hover {
        cursor: pointer;
    }
}

.circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
}

// Removes arrow from dropdown
.dropdown-toggle::after {
    display:none;
}

nav {
    margin-bottom: 2em;
    border-bottom: 2px solid white;
    font-weight: 500;
    
    a {
        color: #000;
        transition: .5s;

        &:hover {
            color: #FFF;
            transition: .5s;
            border-bottom: 1px solid #FFF;
        }
    }
}

tr {
    text-align: center;
}


.autocomplete {
    position: relative;
}

.autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    height: 10vh;
    overflow: auto;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
}

.autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
}

textarea {
    resize: none;
}

.notice-row {
    cursor: pointer;
}